@import "global";
@import "vars";
@import "fonts";

// head start
.head {
  background-color: #030407;
  background-image: url("../images/head/head-bg.jpg");
  background-size: 176%;
  background-repeat: no-repeat;
  min-height: 782px;
  background-position: 60.15% 83.9%;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 135px;
    height: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 7px;
    background: #b6b6b6;
    border-radius: 2.5px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 20px 0px;
  @include archivo;
}
.header__menu-btn {
  width: 40px;
  height: 40px;
  background-color: $accent;
  border-radius: 50%;
  position: relative;
  &::after {
    width: 13px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    content: "";
    top: 14px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    box-shadow: -4px 4px 0 0 #fff, 0 9px 0 0 #fff;
  }
}
.header__menu-btn.btn-active {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  z-index: 50;
  &::after {
    content: "";
    background-image: url("../images/head/close.svg");
    box-shadow: none;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    top: 10px;
    left: 10px;
    right: auto;
  }
}
.header__menu-items {
  display: none;
  position: absolute;
  background-color: $accent;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  top: 0;
  right: 0;
  left: 0;
  padding: 95px 10px 10px 10px;
  z-index: 40;
  min-height: 782px;
  &::after {
    content: "";
    position: absolute;
    width: 135px;
    height: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 7px;
    background: #b6b6b6;
    border-radius: 2.5px;
  }
}
.header__menu-item + .header__menu-item {
  margin-top: 45px;
}
.head__vertical-element {
  display: none;
}
.head__value-box {
  @include roboto-light;
  color: #fff;
  margin-top: 58px;
}
.head__value-item + .head__value-item {
  margin-top: 30px;
}
.head__value-number {
  font-size: 52px;
  line-height: 42.8px;
}
.head__value-text {
  max-width: 140px;
  width: 100%;
  font-size: 14px;
  line-height: 1.3;
  opacity: 0.5;
  margin-top: 15px;
}
h1.head__title {
  color: #fff;
  font-size: 45px;
  @include archivo;
  margin-top: 8px;
  line-height: 40px;
  span {
    color: $accent;
  }
}
.head__slider {
  display: none;
}
.head__discover-link {
  @include link-btn;
  right: 50px;
  bottom: 50px;
}
// head end

//luxuty start
.luxury {
  padding-top: 64px;
  @include roboto-light;
}
.luxury__content-text {
  opacity: 0.4;
  margin-bottom: 47px;
  line-height: 24px;
  font-weight: 300;
}
.luxury__cotalog-link {
  @include link;
}
.luxury__numbers-box {
  box-shadow: 10px 10px 65px rgba(7, 13, 19, 0.1);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 355px;
  min-height: 170px;
  padding: 34px 20px 39px;
  background: #fff;
  position: relative;
  z-index: 999;
}
.luxury__numbers-item {
  width: 100%;
  text-align: center;
  max-width: 142px;
}
.luxury__numbers {
  margin-bottom: 8px;
  font-size: 52px;
}
.luxury__numbers-text {
  color: #020911;
  opacity: 0.5;
  font-weight: 300;
}
.luxury__img {
  transform: translate(-16px, -22px);
  display: block;
  margin-top: -65px;
  z-index: -1;
  object-fit: cover;
  height: 482px;
}

// luxuru end

//popular start
.popular {
  padding: 41px 10px;
}
.popular__inner {
  position: relative;
}
.popular__text {
  @include roboto-light;
  line-height: 1.5;
  margin-bottom: 45px;
  opacity: 0.4;
}
.popular__cotalog-link {
  @include link-btn;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
.popular__galery-item-img {
  width: 249px;
  height: 344px;
}
.popular__galery-item-box {
  box-sizing: border-box;
  box-shadow: 10px 10px 65px rgba(7, 13, 19, 0.1);
  max-width: 200px;
  height: 99px;
  @include archivo;
  padding: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: auto;
  bottom: -46px;
  span {
    display: block;
  }
}
.popular__galery-item-name {
  text-align: center;
  line-height: 14.4px;
  opacity: 0.3;
}
.popular__galery-item.swiper-slide {
  width: 249px;
}
//popular end

//watch__banner start
.watch__banner-inner {
  margin: 0 auto;
  position: relative;
  min-height: 812px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 82px;
}
.watch__banner-link {
  @include link-btn;
  top: calc(50% - 55px);
  left: 0;
  right: 0;
  margin: 0 auto;
  &::after {
    transform: rotate(45deg);
  }
}
.watch__banner-video-box {
  display: none;
}

.watch__banner-inner.video-active-box {
  .watch__banner-box {
    display: none;
  }
  .watch__banner-link {
    display: none;
  }

  .watch__banner-video-box {
    max-width: 375px;
    width: 100%;
    height: 0px;
    animation-name: video-open;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: #1c2834;
    position: relative;
    display: block;
    .watch__banner-video {
      animation-name: video-active;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      width: 100%;
      height: 812px;
      object-fit: cover;
      z-index: 1;
      position: relative;
      opacity: 0;
    }
  }
  @keyframes video-open {
    from {
      height: 0px;
    }
    to {
      height: 812px;
    }
  }
  @keyframes video-active {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .watch__banner-close-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $accent;
    color: #fff;
    z-index: 999;
    top: 10px;
    right: 10px;
  }

  .watch__banner-video-box.video-close-box {
    height: 812px;
    animation-name: video-close;
    animation-delay: 1s;
    animation-duration: 1s;
    .watch__banner-video {
      opacity: 1;
      animation-name: video-stop;
      animation-delay: 0s;
      animation-duration: 1s;
    }
  }
  @keyframes video-close {
    from {
      height: 812px;
    }
    to {
      height: 0px;
      display: none;
    }
  }
  @keyframes video-stop {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

//watch__banner end

// univel start
div.univel__wrapper {
  background-image: url("../images/univel/univel-bg-mobile.jpg");
  min-height: 580px;
  background-repeat: no-repeat;
  background-size: auto 339px;
  background-position: 0% 100%;
  padding-top: 38px;
}
.univel__box {
  max-width: 355px;
  min-height: 345px;
  padding: 24px 20px 23px;
  background-color: #fff;
  box-shadow: 10px 10px 65px rgba(7, 13, 19, 0.1);
}
.univel__title {
  font-size: 32px;
  @include archivo;
  margin: 0 0 36px 0;
  line-height: 0.93;
  span {
    color: $accent;
  }
}
.univel__banner-link {
  @include link;
  margin-bottom: 0;
  font-size: 16px;
  &::before {
    top: 26px;
    width: 116px;
  }
  &::after {
    margin-left: 8px;
    top: 4px;
  }
}
//univel  end

// footer start
.footer {
  color: #fff;
  @include roboto-light;
}
div.footer__wrapper {
  background-color: $lblack;
  padding: 50px 10px 26px;
}
.footer__inner {
  text-transform: uppercase;
}
.footer__menu-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
}
.footer__menu-item + .footer__menu-item {
  margin-top: 11px;
}
.footer__menu-item:nth-child(5) {
  margin-top: 0;
}
.footer__social {
  margin-bottom: 20px;
}
h6.footer__social-title {
  margin-top: 53px;
}
.footer__social-item + .footer__social-item {
  margin-top: 11px;
}
.footer__newsleter {
  margin-bottom: 100px;
  font-size: 14px;
}
// footer end

@media (min-width: 425px) {
  div.head__wrapper {
    padding: 0 10px;
  }

  div.luxury__wrapper {
    padding: 0;
  }
  .luxury__content {
    padding: 0 10px;
  }
  .luxury__img {
    transform: translate(0px, 0px);
    width: 425px;
    max-width: 100%;
    margin: -85px auto 0;
  }

  .watch__banner-inner.video-active-box {
    .watch__banner-video-box {
      max-width: 100%;
    }
  }

  div.univel__wrapper {
    background-size: contain;
  }
}

@media (min-width: 768px) {
  h1.head__title {
    max-width: 556px;
  }
  .head__value-box {
    margin-left: 30px;
  }
  .luxury__content {
    text-align: center;
  }
  .luxury__content-text {
    text-align: left;
  }
  .luxury__numbers-box-wrap {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .luxury__numbers-box {
    order: 1;
    max-width: 217px;
    flex-direction: column;
    padding: 71px 57px 71px 58px;
    max-height: 381px;
    margin: 0;
    margin-left: -58px;
  }
  .luxury__img {
    min-height: 520px;
    order: 0;
    margin: 0;
  }
  .watch__banner-inner {
    min-height: 608px;
    padding-top: 85px;
  }
  picture.watch__banner-box {
    padding: 96px 20px 96px 0;
    img {
      object-fit: contain;
      width: 100%;
    }
  }
  .watch__banner-link {
    margin: 0;
    right: auto;
    left: 173px;
  }
  .watch__banner-inner {
    height: 608px;
  }
  .watch__banner-inner.video-active-box {
    .watch__banner-video-box {
      .watch__banner-video {
        height: 523px;
      }
    }
  }
  @keyframes video-open {
    from {
      height: 0px;
    }
    to {
      height: 523px;
    }
  }
  div.univel__wrapper {
    padding-top: 80px;
    background-image: url("../images/univel/univel-bg.jpg");
    background-position: 20% 80px;
    background-size: cover;
    min-height: 567px;
  }
  .univel__box {
    margin: -80px 100px auto auto;
  }
  .footer__inner {
    display: flex;
  }
  nav.footer__menu {
    width: calc(33.33% * 2);
    max-width: 100%;
  }
  h6.footer__social-title {
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  .head {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
  }
  div.head__wrapper {
    position: relative;
    z-index: 4;
    max-height: 100%;
  }
  ul.header__menu-items {
    min-height: 100vh;
    left: auto;
    width: fit-content;
    font-size: 26px;
    .header__menu-item + .header__menu-item {
      margin-top: 30px;
    }
  }
  a.head__discover-link {
    right: auto;
    left: 255px;
    bottom: 195px;
    top: auto;
    z-index: 30;
  }

  .head__value-box {
    margin-left: 0px;
  }
  .head__slider {
    display: block;
    position: absolute;
    z-index: 20;
    left: 315px;
    bottom: 40px;
    .head__slider-inner.swiper-wrapper {
      height: 221px !important;
      z-index: 3;
      display: block;
      width: 700px;
    }
    .head__slider-item.swiper-slide.swiper-slide-duplicate {
      height: 221px !important;
    }
    .head__slider-item.swiper-slide.swiper-slide-active {
      height: 221px !important;
    }
    img.head__slider-item-img {
      width: 396px;
      height: 221px;
      object-fit: cover;
    }
    .swiper-pagination {
      position: absolute;
      z-index: 999;
      right: 50px;
      top: 170px;
      .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
        margin: 0 auto;
        background-color: #fff;
        opacity: 1;
      }
      .swiper-pagination-bullet + .swiper-pagination-bullet {
        margin-top: 15px;
      }
      .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
        background-color: $accent;
      }
    }
  }

  div.luxury__wrapper {
    display: flex;
  }
  .luxury__content {
    order: 2;
    width: 40%;
    margin-left: 25px;
  }
  .luxury__content-text {
    max-width: 457px;
  }
  .luxury__numbers-box {
    margin-left: -78px;
  }
  div.footer__wrapper {
    padding-left: 50px;
  }
  .footer__newsleter-basement {
    margin-top: 50px;
    display: flex;
    margin-bottom: 43px;
  }
  .footer__copy {
    @include w100;
  }
  .footer__newsleter {
    @include w100;
    order: 2;
    margin-bottom: 0px;
  }
}

@media (min-width: 1280px) {
  .head {
    background-size:101%;
    background-position: 0% 0%;
    &::after {
      display: none;
    }
  }
  .header {
    padding: 30px 42px 30px 9px;
  }
  .header__menu-btn {
    width: 60px;
    height: 60px;
    &::after {
      width: 19px;
      height: 2px;
      top: 21px;
      box-shadow: -4px 9px 0 0 #fff, 0 16px 0 0 #fff;
    }
  }
  ul.header__menu-items{
        width:33%;
        padding-left:20px;
        &::after{
          display:none;
        }
  }
  .head__inner {
    display: flex;
    .container {
      @include w100;
      padding-left:65px;
    }
  }
  .head__vertical-element {
    width: 100px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: #fff;

    .head__vertical-element-item {
      height: 50%;
      position: relative;
      span {
        position: absolute;
        min-width: 100px;

        transform: rotate(-90deg);
        transform-origin: 50% 100%;
      }
    }
    .top-block {
      opacity: 0.3;
      span {
        bottom: 80px;
      }
    }
    .bottom-block {
      span {
        top: 35px;
      }
    }
  }
  h1.head__title {
    margin-top: -48px;
     line-height: 47px;
    font-size: 52px;
  }
  .head__value-box{
    margin-top: 125px;
  }
.head__slider{
  left:415px;
  bottom:70px;
  .head__slider-inner.swiper-wrapper{
    width:800px;
      }
      .swiper-pagination{
        right:12px;
      }
}
a.head__discover-link{
  left:355px;
  bottom:220px;
}
  .popular__galery-items.swiper-wrapper {
    width: 100%;
    flex-wrap: wrap;
    margin-left: -100px;
    transform: none;
    box-sizing: border-box;
    justify-content: center;
  }
  .popular__galery-item.swiper-slide {
    width: calc(33.33% - 100px);
    margin-bottom: 100px;
    flex-shrink: 1;
    margin-left: 100px;
  }
}
